{% extends 'portfolio/base.html' %}
{% block content %}
{% load static %}


<div class="d-flex justify-content-end gradient-background" style="margin: 0 auto; width: 100%; padding-top: 10px;" alink="#fff">
    
    <div class="text-left" id="contact-info">
        <h3>Мои контакты</h3>
        <p>Почта: <a style="color: #fff;" href="mailto:sharipsvs@mail.ru">sharipsvs@mail.ru</a></p>
        <p>Телефон: <a style="color: #fff;" href="tel:+7(922)0329690">+7(922)-032-96-90</a></p>
        <p>Социальные сети: 
        <a style="color: #fff;" href="https://t.me/vyaches_sharip">Telegram</a>,
        <a style="color: #fff;" href="https://github.com/fanfaronDo">GitHub</a>
        </p>
    </div>
    
    <div class="text-right ml-3">
        <img src="{% static 'portfolio/author.png' %}" alt="This author's photo" class="img-fluid author-photo" width="200" height="250">
    </div>
</div>

<div class="container" style="padding-top: 100px;">
<h2 style="color: black;">Мои проекты</h2>
<hr>
<div class="row">
    {% for project in projects %}
    <div class="col-lg-4 col-md-6 mb-4">
        <a href="{{ project.url }}" class="project-block" style="text-decoration: none;">  
            <div class="border rounded">
                {% if project.url %}
                    <img src="{{ project.image.url }}" class="img-fluid mb-2 project-image"> 
                    <p style="color: rgba(0, 0, 0, 0.624);">{{ project.title }}</p>
                    <p style="color: rgba(1, 1, 1, 0.385);">{{ project.description }}</p>
                {% else %}
                    <img src="{{ project.image.url }}" class="img-fluid mb-2"> 
                    <p id="project-title">{{ project.title }}</p>
                    <p>{{ project.description }}</p>
                {% endif %}
            </div>
        </a>
    </div>
    {% endfor %}
</div>
</div>



{% endblock %}